## Velocity Template.

<html>
<body>
<h1> Solicitud de contrase&ntilde;a nueva </h1>
<p> ${person.lastName1} ${person.lastName2}, ${person.name}:
<p> Este mail se ha creado a raiz de una petici&oacute;n suya de regenerar su contrase&ntilde;. En caso de no ser asi, ignore este mail.
<p> Si desea regenerar su contrase&ntilde;a, dirijase a: <a href="${serverPath}/person/recoverPassword/${uid}">${serverPath}/person/recoverPassword/${uid}</a>.
<p> Muchas Gracias.
<p>
<p> <b>Aclaracion:</b> El link es valido por un mes. Luego de ese tiempo expirara.
</body>
</html>