@charset "utf-8";
/* CSS Document */

* {
	margin:0;
	padding:0;}

body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, "Trebuchet MS", Arial, sans-serif;
	font-size: 12px;
	line-height:20px;
	color: #777;
	background: #e1e1e1;
	text-align:center;
}

img {
	border:none;
}

li {
	list-style: none;
}

input, textarea  {
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #ccc;
	margin: 0px 0px 10px 0px;
	border: 1px solid #ccc;
	padding: 3px;
}

label {
	font-size: 12px;
	font-weight: normal;
}

/*------------------------------------------------------------*
 ~Headings ~
**------------------------------------------------------------*/
h1 {
	font-family: "Century Gothic", Arial, sans-serif;
	font-size: 30px;
	font-weight: normal;
	margin-bottom:20px;
}
h2{
	font-size: 20px;
	font-weight: normal;
	margin-bottom:10px;
}
h3{
	font-family: "Century Gothic", Arial, sans-serif;
	font-weight: normal;	
	font-size: 15px;
	margin-bottom:5px;
}
h4{
	font-family: "Century Gothic", Arial, sans-serif;
	font-weight: bold;	
	font-size: 12px;
	margin-bottom:2px;
}

/*------------------------------------------------------------*
 ~main layout bits~
**------------------------------------------------------------*/

#wrapper {
	margin: 0 auto;
	width: 983px;
	text-align:left;
}

#top {
	float:right;
	width:928px;
	height:47px;
	background-repeat: no-repeat;
	background-image: url(../img/themes/top.png);
}

#main_line {
	float:right;
	width:928px;
	background-image: url(../img/themes/bg_line_tile.gif);	
	background-repeat: repeat-y;
}

#footer {
	float:right;
	width:928px;
	height:100px;
	background-image: url("../img/footer.gif");
	background-repeat: no-repeat;
}


/*------------------------------------------------------------*
 ~Tabbed Nav Information~
**------------------------------------------------------------*/
#nav{
	float:left;
	width:55px;
	background:#e1e1e1;
	margin-top:55px;
	overflow:hidden;
	list-style: none;
}

#nav li{
	height : 111px;
	width : 55px;
	margin-left:30px;
    opacity: 0.5;
	background-repeat: no-repeat;
	background-position: top left;
}

#nav li a {
	display: block;
	width:55px;
	height:112px;
}

#tabmy{background-image: url(../img/themes/tab_mystream.png);}
#taball{background-image: url(../img/themes/tab_all.png);}
#tabprofile{background-image: url(../img/themes/tab_profiles.png);}
#tabgroups{background-image: url(../img/themes/tab_groups.png);}

/*------------------------------------------------------------*
 ~ Main Information~
**------------------------------------------------------------*/

#two_left {
	width:630px;
	/*min-height:150px;*/
	float:left;
	margin-left:10px;
	margin-right:10px;
	padding-top:10px;
	display:inline;
}

#two_right {
	width:250px;
	/*min-height:150px;*/
	float:left;
	margin-left:10px;
	margin-right:10px;
	padding-top:10px;
	display:inline;
}

#two_right p {
	margin-bottom:5px;
	padding-left:0px;
	padding-right:35px;
}

.bottom_line {
	min-height:350px;
}

/*------------------------------------------------------------*
 ~Footer Information~
**------------------------------------------------------------*/

#logo {
	float:left;
	margin-left:20px;
	margin-top:30px;
	width: 485px;
	height:33px;
	background-repeat: no-repeat;
	overflow:hidden;
}

#changer {
	float:right;
	margin-right:25px;
	margin-top:35px;
	width:200px;
	text-align:right;
}

#changer img {
	margin-right:3px;
}

#copyright {
	width: 928px;
	float:right;
	text-align:center;
	margin-top:25px;
	font-size: 10px;
}
